<%= form_with(model: @micropost, local: true) do |f| %>
<!-- ---error_msg had to be changed from initial @user to object, as in object: f.object, to supports @user and @micropost alike--- -->
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Compose new micropost..." %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
  <span class="image">
    <%= f.file_field :image, accept: "image/jpeg,image/gif,image/png" %>
  </span>
<% end %>


<!-- ---client side(browser) checks on the upladed image - together with validations in Micropost model--- -->
<!-- ---allows only qualifying files to be selected for upload, too big are greyed out--- -->
<script type="text/javascript">
  $("#micropost_image").bind("change", function() {
    const size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert("Maximum file size is 5MB. Please choose a smaller file.");
      $("#micropost_image").val("");
    }
  });
</script>
